.container{
    background: linear-gradient(to bottom, rgb(227, 236, 88),rgb(102, 102, 243));

}
body{
    font-size: 1em;
}
.custom-btn{
    width: 150px;
    height: 50px;
}
.add{
    justify-content: center;
    text-align: center;
}

